//? Flexbox Mixins
//Mixin Flexbox Column
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

//Mixin Flexbox Row
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

//? Size Mixins
@mixin size-2rem-full {
  width: 2rem;
  height: 2rem;
}
