/* Mobile */
@media screen and (min-width:360px) {
    /* Root Accordion */
    #AccordionRoot {
        padding: 20rem;
    }

    /* Accordion Item */
    #AccordionItem {
        font-size: 20px;
        color: var(--color--principal--);
        padding: 2rem;
        cursor: pointer;
    }

    /* Accordion Text */
    #AccordionText {
        padding: .5rem;
        margin-left: 1.5rem;
    }
}

/* Desktop - 1280px */
@media screen and (min-width:1280px) {}