@media screen and (min-width:360px) {

    /* Principal */
    #ContenedorPrincipal_PageHome {
        height: 100vh;
     /*    background-image: url('/images/fondo-4.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed; */
    }

    /* Vista 1 */
    #Contenedor-Vista1_PageHome {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
       /*  background-image: url('/images/fondo-4.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed; */
    }

    /* Ambos Subcontenedores */
    .SubContenendores {
        height: 100%;
        width: 100%;
    }

    /* Subcontenedor 1 */
    .SubContenendores:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Subcontenedor 2 */
    .SubContenendores:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Logo */
    #LogoPrincipal_Home {
        width: 10rem;
        height: 10rem;
        margin-top: 1rem;
    }

    /* Titulo - Espacio de Ayuda */
    #TituloEspacioDeAyuda {
        display: none;
    }

    /* Contenedor de Texto - Titulo - Quienes Somos */
    #Con_ContenidoPrincipal_Home_S2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: gainsboro;
    }

    /* Titulo Quienes Somos */
    #TituloQuienesSomos {
        font-size: 2rem;
        font-weight: 300;
        color: var(--color--principal--);
        margin: 1rem 0 0rem 1rem;
        text-align: center;
    }

    /* Parrafo principal */
    #ParrafoAcercaDeNosotros {
        font-size: 1.1rem;
        color: whitesmoke;
        line-height: 2rem;
        font-weight: 300;
        text-align: center;
    }

    /* Contenedor - La depresion y yo - Copyright */
    #PieContenedor_Home_S2 {
        background-color: rgba(0, 0, 0, 0.660);
        width: 100%;
        height: 5rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
    }

    /* Subtitulo de copyright */
    #Subtitulo_LaDepresion-Yo {
        font-size: .9rem;
        font-weight: 200;
    }

    /* Contenedor de los iconos */
    #PieDePagina_Home_S2 {
        display: flex;
        gap: 1rem;
        margin-top: 0rem;
    }

    /* Iconos de las redes sociales */
    .IconoRedSocial_Home {
        color: white;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: .4s ease-in-out;
    }

    .IconoRedSocial_Home:hover {
        transform: scale(1.1);
    }

    /* Vista 2 */
    #Contenedor-Vista2_PageHome {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    /* Titulo en general */
    .TituloIntroductorio {
        font-size: .9rem;
        font-weight: 200;
        text-align: center;
        height: 3rem;
        width: 90%;
        color: gray;
    }

    /* Titulo en general */
    .TituloIntroductorio:nth-child(1) {
      margin-top: 2rem;
    }

    /* Span */
    .SpanTitulo_Home {
        font-weight: bold;
        font-size: 1rem;
        color: var(--color--principal--);
    }
}


/* 1440px  */
@media screen and (min-width:1440px) {
    #ContenedorPrincipal_PageHome {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /* Vista 1 */
    #Contenedor-Vista1_PageHome {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 100vh;
        background-image: url('/images/fondo-2.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background: none;
    }

    /* Vista 2 */
    #Contenedor-Vista2_PageHome {
        background-color: #F5F3F0;
        min-height: 85vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Ambos */
    .SubContenendores {
        height: 100%;
    }

    /* 1 */
    .SubContenendores:nth-child(1) {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Navbar */
    #Navegacion_Home{
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    /* Logo Principal */
    #LogoPrincipal_Home {
        width: 6rem;
        height: 6rem;
        margin-top: 0rem;
        border: 2px solid gainsboro;
        margin: 1rem;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
    }

    /* Titulo de la marca */
    #TituloMarca_Home {
        font-size: 2.8rem;
        font-weight: 100;
        /* font-family: var(--font--principal); */
        color: var(--color--principal--);
        text-align: center;
        width: 100%;
        margin-top: 6rem;
    }

    /* Lista de Navegacion */
    #ListaNavegacion_Home {
        display: flex;
        gap: 1rem;
        margin-left: 0rem;
        cursor: pointer;
    }

    #Con_ContenidoPrincipal_Home_S2 {
        width: 100%;
        height: 100%;
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .4rem;
        align-items: flex-start;
        cursor: pointer;
    }

    /* 2 */
    .SubContenendores:nth-child(2) {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('/images/fondo-2.png');
        background-size: cover;
        background-position: -280px;
    }


    #ParrafoAcercaDeNosotros {
        font-size: 1.1rem;
        color: gray;
        line-height: 2rem;
        font-weight: 300;
        margin: 2rem 1rem 1rem 1rem;
        font-family: var(--font--principal);
        padding: 2rem;
    }

    #PieContenedor_Home_S2 {
        background-color: rgba(0, 0, 0, 0.660);
        width: 100%;
        height: 5rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
    }

    #Subtitulo_LaDepresion-Yo {
        font-size: .9rem;
        font-weight: 200;
    }

    #PieDePagina_Home_S2 {
        position: absolute;
        top: 92vh;
        right: 3vh;
        display: flex;
        gap: .8rem;
    }

    .IconoRedSocial_Home {
        color: white;
        width: 2.7rem;
        height: 2.5rem;
        cursor: pointer;
        transition: .4s ease-in-out;
    }

    .IconoRedSocial_Home:hover {
        transform: scale(1.1);
    }

    .TituloIntroductorio {
        font-size: 1.3rem;
        font-weight: 200;
        text-align: center;
        height: 5rem;
        width: 90%;
        margin-top: 3rem;
        align-self: center;
        color: gray;
        font-family: var(--font--principal);
    }

    .SpanTitulo_Home {
        font-weight:100;
        font-size: 1.6rem;
        color: var(--color--principal--);
        font-family: var(--font--principal);
    }
}