/* Mobile */
@media screen and (min-width: 360px) {
    /* Contenedor General */
    #ContenedorNavbar {
        /* border: 2px solid seagreen; */
        width: 100%;
        padding: 5px;
        display: flex; /* Posicionamiento Horizontal */
        align-items: center;
    }

    /* LogoBrand */
    #EspacioSeguroBrand{
        width: 4rem;
        height: 4rem;
    }

    /* Titulo - Espacio Seguro */
    #TituloEspacioSeguro{
        font-weight: 400;
        margin-left: 5px;
        font-size: 12px;
        display: none; /* Ocultamiento en mobile */
    }

    /* Contenedor - Links de navegacion */
    #ContenedorLinksNavegacion{
        /* border: 2px solid greenyellow; */
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    /* Navegacion Link */
    .NavegacionLink{
        cursor: pointer;
        font-size: 11px;
    }
}

/* Desktop  */
@media screen and (min-width: 1280px) {
    /* Contenedor General */
    #ContenedorNavbar {
        /* border: 2px solid blue; */
        padding: 18px;
    }

    /* LogoBrand */
    #EspacioSeguroBrand{
        width: 8rem;
        height: 8rem;
        border: 1px dotted gainsboro;
        border-radius: 50%;
    }

    /* Titulo - Espacio Seguro */
    #TituloEspacioSeguro{
        /* border: 2px solid green; */
        display: inline; /* Volvemos a mostrarlo en la interfaz */
        width: 30em;
        font-weight: 600;
        font-size: 19px;
        margin-left: 10px;
    }

    /* Contenedor - Links de navegacion */
    #ContenedorLinksNavegacion{
        /* border: 2px solid greenyellow; */
        margin-left: 20%;
        display: flex;
        gap: 2rem;
        justify-content: space-evenly;
    }

    /* Navegacion Link */
    .NavegacionLink{
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }
}