@media screen and (min-width: 360px) {
  /* Principal */
  #ContenedorPrincipal_PageHome {
    height: 100vh;
    background-image: url("/images/fondo-4.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  /* Vista 1 */
  #Contenedor-Vista1_PageHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/fondo-4.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.553);
  }
  /* Ambos Subcontenedores */
  .SubContenendores {
    height: 100%;
    width: 100%;
  }
  /* Subcontenedor 1 */
  .SubContenendores:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* Subcontenedor 2 */
  .SubContenendores:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-blend-mode: multiply;
  }
  /* Logo */
  #LogoPrincipal_Home {
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
  }
  /* Titulo - Espacio de Ayuda */
  #TituloEspacioDeAyuda {
    display: none;
  }
  /* Contenedor de Texto - Titulo - Quienes Somos */
  #Con_ContenidoPrincipal_Home_S2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    color: gainsboro;
  }
  /* Titulo Quienes Somos */
  #TituloQuienesSomos {
    font-size: 2rem;
    font-weight: 300;
    color: var(--color--principal--);
    margin: 1rem 0 0rem 1rem;
    text-align: center;
  }
  /* Parrafo principal */
  #ParrafoAcercaDeNosotros {
    font-size: 1.1rem;
    color: whitesmoke;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
  }
  /* Contenedor - La depresion y yo - Copyright */
  #PieContenedor_Home_S2 {
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: whitesmoke;
  }
  /* Subtitulo de copyright */
  #Subtitulo_LaDepresion-Yo {
    font-size: .9rem;
    font-weight: 200;
  }
  /* Contenedor de los iconos */
  #PieDePagina_Home_S2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  /* Iconos de las redes sociales */
  .IconoRedSocial_Home {
    color: white;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  .IconoRedSocial_Home:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  /* Vista 2 */
  #Contenedor-Vista2_PageHome {
    border: 2px solid var(--color--principal--);
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
  /* Titulo en general */
  .TituloIntroductorio {
    font-size: .9rem;
    font-weight: 200;
    text-align: center;
    height: 3rem;
    width: 90%;
    color: gray;
  }
  /* Titulo en general */
  .TituloIntroductorio:nth-child(1) {
    margin-top: 2rem;
  }
  /* Span */
  .SpanTitulo_Home {
    font-weight: bold;
    font-size: 1rem;
    color: var(--color--principal--);
  }
}

/* 1440px  */
@media screen and (min-width: 1440px) {
  #ContenedorPrincipal_PageHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
  }
  #Contenedor-Vista1_PageHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/fondo-4.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #Contenedor-Vista2_PageHome {
    min-height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* Ambos */
  .SubContenendores {
    height: 100%;
  }
  /* 1 */
  .SubContenendores:nth-child(1) {
    width: 45%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.553);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* 2 */
  .SubContenendores:nth-child(2) {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-blend-mode: multiply;
  }
  #LogoPrincipal_Home {
    width: 18rem;
    height: 18rem;
  }
  #TituloEspacioDeAyuda {
    color: gainsboro;
    margin-top: 1rem;
    font-weight: 100;
    font-size: 2rem;
  }
  #Con_ContenidoPrincipal_Home_S2 {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: .4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.653);
    cursor: pointer;
  }
  #TituloQuienesSomos {
    font-size: 3.2rem;
    font-weight: 300;
    color: var(--color--principal--);
    margin: 1.5rem 0 1rem 1rem;
    text-align: center;
  }
  #ParrafoAcercaDeNosotros {
    font-size: 1.1rem;
    color: whitesmoke;
    line-height: 2rem;
    font-weight: 300;
    margin: .3rem 1rem 1rem 1rem;
  }
  #PieContenedor_Home_S2 {
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: whitesmoke;
  }
  #Subtitulo_LaDepresion-Yo {
    font-size: .9rem;
    font-weight: 200;
  }
  #PieDePagina_Home_S2 {
    position: absolute;
    top: 92vh;
    right: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .8rem;
  }
  .IconoRedSocial_Home {
    color: white;
    width: 2.7rem;
    height: 2.5rem;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  .IconoRedSocial_Home:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .TituloIntroductorio {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    height: 5rem;
    width: 90%;
    margin-top: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: gray;
  }
  .SpanTitulo_Home {
    font-weight: bold;
    font-size: 2rem;
    color: var(--color--principal--);
  }
}

/* Page Home */
@media screen and (min-width: 360px) {
  #ContenedorGeneral_BannerImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ImageGrid {
    width: 4rem;
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
  }
  .ImageGrid:hover {
    width: 8rem;
  }
}

@media screen and (min-width: 1440px) {
  #ContenedorGeneral_BannerImages {
    width: 55%;
    height: 25rem;
    justify-self: center;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ImageGrid {
    width: 5rem;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
  }
  .ImageGrid:hover {
    width: 12rem;
  }
}

/* Banner Images */
/*# sourceMappingURL=estilos.css.map */