@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
/* Mobile */
@media screen and (min-width: 360px) {
  /* Contenedor General */
  #ContenedorPrincipal_PageHome {
    /* border: 5px solid khaki; */
  }
}
/* Desktop  */
/* Page Home */
/* Mobile */
@media screen and (min-width: 360px) {
  /* Contenedor General */
  #ContenedorNavbar {
    /* border: 2px solid seagreen; */
    width: 100%;
    padding: 5px;
    display: flex; /* Posicionamiento Horizontal */
    align-items: center;
  }
  /* LogoBrand */
  #EspacioSeguroBrand {
    width: 4rem;
    height: 4rem;
  }
  /* Titulo - Espacio Seguro */
  #TituloEspacioSeguro {
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
    display: none; /* Ocultamiento en mobile */
  }
  /* Contenedor - Links de navegacion */
  #ContenedorLinksNavegacion {
    /* border: 2px solid greenyellow; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  /* Navegacion Link */
  .NavegacionLink {
    cursor: pointer;
    font-size: 11px;
  }
}
/* Desktop  */
@media screen and (min-width: 1280px) {
  /* Contenedor General */
  #ContenedorNavbar {
    /* border: 2px solid blue; */
    padding: 18px;
  }
  /* LogoBrand */
  #EspacioSeguroBrand {
    width: 8rem;
    height: 8rem;
    border: 1px dotted gainsboro;
    border-radius: 50%;
  }
  /* Titulo - Espacio Seguro */
  #TituloEspacioSeguro {
    /* border: 2px solid green; */
    display: inline; /* Volvemos a mostrarlo en la interfaz */
    width: 30em;
    font-weight: 600;
    font-size: 19px;
    margin-left: 10px;
  }
  /* Contenedor - Links de navegacion */
  #ContenedorLinksNavegacion {
    /* border: 2px solid greenyellow; */
    margin-left: 20%;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
  }
  /* Navegacion Link */
  .NavegacionLink {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
  }
}
/* Navbar */
/* Mobile */
@media screen and (min-width: 360px) {
  /* Contenedor Vista - 1 */
  #Vista-1_Home {
    /* border: 2px solid red; */
    min-height: 100vh;
    background-image: url("/images/generales/fondo-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -300px;
    color: white;
  }
  /* Contenedor de los titulos principales */
  #ContenedorTitulosPrincipales {
    display: flex;
    flex-direction: column;
  }
  /* Contenedor Grid de imagenes */
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual ancho */
    grid-template-rows: auto auto; /* 2 filas, su altura se ajusta al contenido */
    gap: 10px; /*  */
    margin-top: 2rem;
  }
  /* Imagenes Grid */
  .imagen {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; /* Para que la imagen cubra el espacio sin distorsionarse */
    /* border-radius: 10px; */
    cursor: pointer;
    filter: grayscale(0.7);
    transition: 0.5s ease;
  }
  .imagen:hover {
    filter: grayscale(0); /* Elimina el filtro al pasar el mouse */
    transition: filter 0.6s ease; /* Transición suave */
  }
  /* Imagen de la segunda fila  */
  .imagen-completa {
    grid-column: 1/3; /* Ocupa desde la línea 1 hasta la 3, abarcando 2 columnas */
  }
  /* Titulo Paz Online */
  #TituloPazOnline {
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-size: 22px;
  }
  /* Contenedor de Botones de accion principal */
  #ContenedorBotonesAccion {
    /*   border: 2px solid brown; */
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
  }
  /* Botones de Accion */
  .BotonesAccion_Vista1 {
    /* border: 2px solid red; */
    width: 50%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  /* Boton de Accion - 1 */
  .BotonesAccion_Vista1:nth-child(1) {
    background-color: #BBD497;
    text-decoration: none;
  }
  /* Boton de Accion - 1 */
  .BotonesAccion_Vista1:nth-child(2) {
    background-color: #BBD497;
  }
}
/* Desktop  */
@media screen and (min-width: 1280px) {
  /* Contenedor Vista - 1 */
  #Vista-1_Home {
    /* border: 2px solid mediumspringgreen; */
    height: 100vh;
    background-image: url("/images/generales/fondo-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
    background-position-x: 0px;
    color: white;
    display: flex;
    flex-direction: row;
  }
  /* Contenedor de los titulos principales */
  #ContenedorTitulosPrincipales {
    /*  border: 2px solid sandybrown; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Contenedor Grid de imagenes */
  .grid-container {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.44);
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual ancho */
    grid-template-rows: auto auto; /* 2 filas, su altura se ajusta al contenido */
    width: 50%;
    padding: 5rem;
    gap: 10px; /*  */
  }
  /* Imagenes Grid */
  .imagen {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; /* Para que la imagen cubra el espacio sin distorsionarse */
    /* border-radius: 10px; */
    cursor: pointer;
    filter: grayscale(0.7);
    transition: 0.5s ease;
  }
  .imagen:hover {
    filter: grayscale(0); /* Elimina el filtro al pasar el mouse */
    transition: filter 0.6s ease; /* Transición suave */
  }
  /* Imagen de la segunda fila  */
  .imagen-completa {
    grid-column: 1/3; /* Ocupa desde la línea 1 hasta la 3, abarcando 2 columnas */
  }
  /* Titulo Paz Online */
  #TituloPazOnline {
    font-family: "Barlow Semi Condensed", sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 3rem;
    margin-left: 1.5rem;
  }
}
/* Vista 1 */
/* Mobile */
@media screen and (min-width: 360px) {
  /* Vista 2 */
  #Vista-2_Home {
    /*    border: 2px solid red; */
    height: 100vh;
  }
  /* SubContenedor Principal */
  #SubContenedorPrincipal {
    /*   border: 5px solid green; */
    display: flex;
    flex-direction: column;
  }
  /* Titulo Proposito */
  #TituloProposito {
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  /* Contenedor Titulos */
  #ContenedorTitulosPrincipal_V2 {
    /* border: 2px solid slateblue; */
    height: -moz-max-content;
    height: max-content;
    margin-top: 1rem;
  }
  /* Contenedor Iconos */
  #ContenedorIconos_V2 {
    /* border: 2px solid lightcoral; */
    height: 50vh;
  }
  /* Contenedor Titulo - 1 */
  .ContenedorTituloIndividiaul_V2:nth-child(1) {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
  }
  /* Contenedor Titulo - 2 */
  .ContenedorTituloIndividiaul_V2:nth-child(2) {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    justify-content: flex-end;
  }
  /* Contenedor Titulo - 3 */
  .ContenedorTituloIndividiaul_V2:nth-child(3) {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
  }
  /* Titulo - Un lugar Seguro  */
  #TituloUnLugarSeguro {
    /* border: 2px solid gold; */
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    font-size: 2rem;
    font-weight: 100;
  }
  /* Titulo - Un lugar Seguro - 1  */
  .TituloUnLugarSeguro-1 {
    background-color: #BBD497;
    color: white;
    padding: 3rem;
  }
  /* Titulo - Un lugar Seguro - 2  */
  .TituloUnLugarSeguro-2 {
    background-color: black;
    color: white;
    padding: 3rem;
  }
  /* Titulo - Un lugar Seguro - 3  */
  .TituloUnLugarSeguro-3 {
    background-color: #BBD497;
    color: white;
    padding: 3rem;
  }
}
/* Desktop  */
@media screen and (min-width: 1280px) {
  /* Vista 2 */
  #Vista-2_Home {
    /*     border: 2px solid chocolate; */
    height: 100vh;
  }
  /* SubContenedor Principal */
  #SubContenedorPrincipal {
    /*   border: 5px solid green; */
    flex-direction: row;
  }
  /* Contenedor Titulos */
  #ContenedorTitulosPrincipal_V2 {
    /* border: 2px solid slateblue; */
    padding: 0rem;
    width: 50%;
    height: 90vh;
    margin-top: 3rem;
  }
  /* Contenedor Iconos */
  #ContenedorIconos_V2 {
    /*  border: 2px solid lightcoral; */
    width: 50%;
    height: 90vh;
  }
  /* Titulo Proposito */
  #TituloProposito {
    margin: 1rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 2.8rem;
  }
  /* Contenedor Titulo - 1 */
  .ContenedorTituloIndividiaul_V2:nth-child(1) {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
  }
  /* Contenedor Titulo - 2 */
  .ContenedorTituloIndividiaul_V2:nth-child(2) {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    justify-content: flex-end;
  }
  /* Contenedor Titulo - 3 */
  .ContenedorTituloIndividiaul_V2:nth-child(3) {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
  }
  /* Titulo - Un lugar Seguro  */
  #TituloUnLugarSeguro {
    /* border: 2px solid gold; */
    width: 50%;
    height: 100%;
    margin: 0;
    display: block;
    font-size: 3rem;
    font-weight: 100;
    padding: 2rem;
  }
  /* Titulo - Un lugar Seguro - 1  */
  .TituloUnLugarSeguro-1 {
    background-color: #BBD497;
    color: white;
  }
  /* Titulo - Un lugar Seguro - 2  */
  .TituloUnLugarSeguro-2 {
    background-color: black;
    color: white;
  }
  /* Titulo - Un lugar Seguro - 3  */
  .TituloUnLugarSeguro-3 {
    background-color: #BBD497;
    color: white;
  }
}
/* Vista 2 *//*# sourceMappingURL=estilos.css.map */